<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
# Your code here
import random
mylist= random.sample(range(100), 12)
print("Random integers between 1 and 100: ")
print(mylist)
# Sorting list of Integers in ascending
mylist.sort()
print ('Random  list of numbers in ascending order is:', mylist)
#sorting list in descending order
mylist.sort(reverse=True)
print("random list of numbers in descending order is :",mylist)
# Python program to get average of a list
Average = sum(mylist) / len(mylist)
print('The Average for the group is:', Average)

Random integers between 1 and 100:
[36, 83, 91, 89, 20, 93, 54, 10, 82, 18, 34, 95]
Random  list of numbers in ascending order is: [10, 18, 20, 34, 36, 54, 82, 83, 89, 91, 93, 95]
random list of numbers in descending order is : [95, 93, 91, 89, 83, 82, 54, 36, 34, 20, 18, 10]
The Average for the group is: 58.75

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [28]:
# Your code here
string1 = input('Enter elements of a list separated by space ')
print("\n")
list1 = string1.split()
# print list1
print('list1: ', list1)
string2 = input('Enter elements of a list separated by space ')
print("\n")
list2 = string2.split()
# print list2
print('list2: ', list2)

Enter elements of a list separated by space hello % mike


list1:  ['hello', '%', 'mike']
Enter elements of a list separated by space hello jack


list2:  ['hello', 'jack']

In [29]:
print("list of words that occur in both sentences")
[elements for elements in list2 if elements in list1 ]

list of words that occur in both sentences

['hello']

In [31]:
# Python program to remove punctuation from a given string
# punctuation marks
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
no_punction = ""
string = string1, string2
for i in string:
  for char in i:
    if char not in punctuations:
         no_punction = no_punction + char
  print(no_punction)
  no_punction = ""

hello  mike
hello jack

In [32]:
# string of vowels
#the number of each vowels
vowels = 'aeiou'

count = {}.fromkeys(vowels,0)

string = string1, string2
# count the vowels
for i in string:
  for char in i:
     if char in count:
         count[char] += 1

print(count)

{'a': 1, 'e': 3, 'i': 1, 'o': 2, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [19]:
# Your code here
def volume(r):
  return (4/3*3.1416*r**3)

print ('r    V')

for r in range(11):
  print (str(r) +"    "+str(volume(r)))

r    V
0    0.0
1    4.1888
2    33.5104
3    113.09759999999999
4    268.0832
5    523.5999999999999
6    904.7807999999999
7    1436.7584
8    2144.6656
9    3053.6351999999997
10    4188.799999999999

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [48]:
# Your code here
import pandas as pd
df = pd.read_csv("Assignment1_denton_housing.csv")
df

    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768

In [55]:
#1
#diff in the number of Occupied Housing Units from year to year 
df = df[df.title_field == 'Occupied Housing Units' ]
df = df.value
df.diff().sort_values()

17   -5091.0
5    -2622.0
8    -1565.0
11   -1404.0
14     303.0
20     795.0
2        NaN
Name: value, dtype: float64

In [60]:
#2
#For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:
#Year Vacant Housing Units Occupied Housing Units
df = pd.read_csv("Assignment1_denton_housing.csv")
df_occupied_house = df[df['title_field'] == 'Occupied Housing Units'].sort_values(by = ['year'])
df_vacant_house = df[df['title_field'] == 'Vacant Housing Units'].sort_values(by = ['year'])
df_merged = pd.merge(df_occupied_house,df_vacant_house,on=['year'])
df_merged['occupied_housing'] = (df_merged['value_x']/(df_merged['value_x']+df_merged['value_y']))*100
df_merged['vacant_housing'] = (df_merged['value_y']/(df_merged['value_x']+df_merged['value_y']))*100
final_table = df_merged[['year','occupied_housing','vacant_housing']]
print(final_table)

   year  occupied_housing  vacant_housing
0  2008         89.117347       10.882653
1  2009         90.928884        9.071116
2  2010         91.857444        8.142556
3  2011         90.620478        9.379522
4  2012         93.322400        6.677600
5  2013         91.198212        8.801788
6  2014         94.269889        5.730111

In [61]:
#3
#here we can see the values and years in which the highest number of housing units were vacant and occupied
df = pd.read_csv("Assignment1_denton_housing.csv")
occupied_max = df.loc[df['title_field'] == 'Occupied Housing Units','value'].max()
df_result1 = df.loc[df['value'] == occupied_max]
final_1 = df_result1[['title_field', 'year', 'value']]
vaccant_max = df.loc[df['title_field'] == 'Vacant Housing Units','value'].max()
df_result2 = df.loc[df['value'] == vaccant_max]
final_2 = df_result2[['title_field', 'year', 'value']]
df_final = pd.concat([final_2, final_1])
print (df_final)

               title_field  year  value
19    Vacant Housing Units  2008   4483
2   Occupied Housing Units  2014  46295

In [62]:
#4
#import stat
import statistics
df = pd.read_csv("Assignment1_denton_housing.csv")
all_elements = df.loc[df['title_field'] == 'Total Housing Units', 'value'].values
#statistics.harmonic_mean(data)
print("The harmonic mean of the total housing units:")
statistics.harmonic_mean(all_elements)

The harmonic mean of the total housing units:

44398.28543969185