<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here
string=len('university of north texas')
print(string)

25

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [9]:
# write your answer here
def char_string(input_string):  
    dict = {}  
    for char in input_string:  
        keys = dict.keys()  
        if char in keys:  
            dict[char] += 1  
        else:  
            dict[char] = 1  
    return dict  
print(char_string('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [12]:
# write your answer here
#creating a list of items
n = [31, 34, 63, 18, 14]
 
# using sum() function
total = sum(n)
 
# printing total value
print("Sum all the items in a list: ", total)

Sum all the items in a list:  160

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [23]:
# write your answer here
str="restart"
x=str[0]
s1=str.replace(x,'$')
s2=x+s1[1::]
print(s2)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [25]:
# write your answer here
a=1
b=4
S=3.14*(1+a/b)**3
print(S)

6.1328125

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [29]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
merged_dic = {**dic1, **dic2, **dic3}

print(merged_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [32]:
# write your answer here
tuple = ("A", "B", "C", "D", "E", "F", "G", "H", "I" , 1 , 2)
print("D" in tuple)
print(9 in tuple)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [40]:
# write your answer here
a={1,2,3,4,5,6,7,8,9,10}
print(max(a))
print(min(a))

10
1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [53]:
# write your answer here
import random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

def partition(lst, n): 
    divide = len(lst) / float(n) 
    return [ lst[int(round(divide * i)): int(round(divide * (i + 1)))] for i in range(n) ]

partition(studnet_list,6)

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229'],
 ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141'],
 ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458'],
 ['sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640'],
 ['sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500'],
 ['aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [55]:
# write your answer here
def duplicates_in(nums):
    num_set = set()

    for i in range(len(nums)):

        if nums[i] in num_set:
            return nums[i]
        else:
            num_set.add(nums[i])

    return -1
print(duplicates_in([9, 8, 7, 7, 6, 5]))
print(duplicates_in([9, 8, 7, 6]))

7
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [56]:
# write your answer here
from datetime import date, timedelta

def sundays(year):
       dt = date(year, 1, 1)      
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in sundays(2022):
   print(s)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25